{
  "detail-type": [
    "ECS Service Action"
  ],
  "resources": [
    "${primary_service_arn}"
  ],
  "detail": {
    "eventName": [
      "SERVICE_TASK_PLACEMENT_FAILURE",
      "SERVICE_STEADY_STATE"
    ]
  }
}
